.shopping-cart{
    justify-content: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 100px;
}

.shopping-cart-header{
    display: flex;
    justify-content: space-between;
}
.header{
    font-size: larger;
    font-weight: 700;
}
.cart-summary{
    display: flex;
    flex-direction: column;
}
.sub-container{
    width: 50%;
}