.book-component{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    margin-bottom: 30px;
    margin-right: 30px;
    box-shadow: 1px 0px 19px -3px rgba(0,0,0,0.1);
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title{
    margin-top: 5px;
    font-weight: 900;
    margin-bottom: 5px;
}

.author{
    margin-top: 5px;
    font-size: 12px;
    color: blue;
}

.price{
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
}
.button-style{
    width: 130px;
    height: 30px;
    border-radius: 15px;
    border: 0;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    background-color: aqua;
    background-color: #ffe802;
    line-height: 28px;
}

.book-style{
    text-decoration: none;
}

.book-style-div{
    height: 350px;
}