.shopping-cart-container{
    margin-left: 50px;
    margin-right: 50px;
    width: 60%;
    background: white;
}
.cart-img{
    display: flex;
    flex-direction: row;
}
.cart{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}
.shopping-cart-header{
    display: flex;
    justify-content: space-between;

}
.header{
    font-size: larger;
    font-weight: 700;
}

.cart-details{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.price{
    display: flex;
}
.author{
    color: blue;
    font-family: sans-serif;
    font-size: 12px;
}

.separator {
    height: 1px;
    background-color: rgb(186, 180, 180);
    border: none;
  }