.summary{
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 1px 0px 19px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 25px;
    justify-content: space-around;
}
.button{
    background-color: #ffe802;
    border-radius: 20px;
    border: none;
    height: 40px;
    width:300px;
    font-size: 18px;
}
.button-container{
    justify-content: center;
    display: flex;
}

.summary-text{
    font-weight: 900;
    font-size: 22px;
    margin-bottom: 10px;
}
.value{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
}