.summary{
    border-radius: 10px;
    box-shadow: 1px 0 19px -3px #0000001a;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 25px;
    width: 30%;
}
.button{
    background-color: #ffe802;
    border-radius: 20px;
    border: none;
    height: 40px;
    width:300px;
    font-size: 18px;
}
.button-container{
    justify-content: center;
    display: flex;
}

.summary-text{
    font-size: larger;
    font-weight: 700;
    margin-bottom: 10px;
}
.value{
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
}
.summary-books{
    margin-left: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }